<footer>
    <p>
        &copy; Copyright 2021. XMR VPS Ltd. All rights reserved. XMR VPS Ltd T/A Nanoscopic.
    </p>
    <p>
        XMR VPS Ltd. Registered in England and Wales. Company registration number: 12832260
    </p>
    <p>
        XMR VPS Ltd is VAT registered in Great Britain with the number GB366894242.
    </p>
</footer>