<h1>{{title}}</h1>
<p>
    The Nanoscopic Blog project aims to give bloggers the power to set the amount it costs to read their content.
    Bloggers will be able to set blog posts to free to read if they wish or they could charge any amount of money for
    each article they want to charge for.
</p>
<p>
    An example of this would be an introduction blog post would be free so that it could pull in readers while the
    later articles in the series cost money to view since they hold much more specific content.
</p>