<h1>{{title}}</h1>
{{#if blog_posts}}
    {{#each blog_posts}}
        <h2>{{blog_post_header}}</h2>
        <p>
            {{blog_post_free_content}}
        </p>
        <p>
            <a href="">Read more</a>.
        </p>
    {{/each}}
{{else}}
    <p>
        There are no blog posts posted yet.
    </p>
{{/if}}