<h1>{{title}}</h1>
<p>
    You have failed to login to your Nanoscopic blog account. Please make sure your username and password are correct.
</p>
<p>
    If you are still having problems then please contact our support team at
    <a href="mailto:support@nanoscopic.blog">support@nanoscopic.blog</a> and we will attempt to help you solve the
    problem.
</p>