<h1>{{title}}</h1>
<p>
    You have successfully registered your Nanoscopic blog account. Please keep your username and password secure.
</p>
<p>
    Return <a href="/">home</a> to start making full use of your new account.
</p>