<h1>{{title}}</h1>
<p>
    You have successfully registered an account on the Nanoscopic blogging platform. In order to complete your
    registration you'll need to verify your email address. Please check the email address you used to register and click
    on the link to verify your email account and unlock all the features of the Nanoscopic blogging platform.
</p>