<h1>{{title}}</h1>
<p>
    Here you will find a summary of all of the information related to your account shown in a user friendly manner. If
    there is extra information you would like to see then please contact
    <a href="mailto:support@nanoscopic.blog">support</a> and we will see whether it can be added in.
</p>