<h1>{{title}}</h1>
<p>
    Are you sure you wish to delete this blog post? Once you delete it there is no way to recover it.
</p>
<p>
    <form action="/cp/page/delete/{{blog_id}}/{{page_id}}/" method="post">
        <input type="submit" value="Delete Blog Page">
    </form>
</p>