<h1>{{title}}</h1>
{{# if blog_list}}
    <ul>
        {{#each blog_list}}
            <li><a href="/cp/blog/show/{{blog_id}}/">{{blog_title}}</a></li>
        {{/each}}
    </ul>
    <p>
        <a href="/cp/blog/create/">Create New Blog</a>
    </p>
{{else}}
    <p>
        You currently have no blogs associated with your account.
    </p>
    <p>
        <a href="/cp/blog/create/">Create New Blog</a>
    </p>
{{/if}}