<h1>{{title}}</h1>
<p>
    <form action="/cp/blog/update/{{blog_id}}/" method="post" id="update_form_action">
        <label for="blog_name"></label>Blog Title:<br/>
        <input type="text" name="title" id="title" required/><br/>
        <label for="meta_desc">Meta Description:</label><br/>
        <textarea name="meta_desc" id="meta_desc" required></textarea><br/>
        <label for="blog_description">Blog Description:</label><br/>
        <textarea name="description" id="description" required></textarea><br/>
        <input type="submit" id="update_blog_submit" value="Update Blog">
    </form>
</p>